{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Hello! _mainpage</h1>
<img src="{% static 'images/logo.jpeg' %}" style="width:500px;">
<br>
<button type="button"><a href="{% url 'main:new' %}">글 쓰기</a></button><br><br>

<h1>글 목록</h1><br>

<div>
    {% for blog in blogs %}
    <div>
        <h3>{{blog.title}}</h3>
        작성자 : {{blog.writer}}<br>
        내  용 : {{blog.summary}}<br>
        {% if blog.image %}
            <p><img src="{{blog.image.url}}" alt="사진" width="100px" height="100px"></p>
        {% endif %}
        <a href="{% url 'main:detail' blog.id %}">...더보기</a>
        <a href="{% url 'main:delete' blog.id %}">삭제</a><br>
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}